/* START bootstrap over-rides */
h1 {
	font-weight: 200 !important;
	line-height: 0.95 !important;
    margin-top: .5rem !important;
}
/* END bootstrap over-rides */

#sidebar {
	width: 10%;
}

.tagline {
	margin-top: 2rem;
}

.tooltip {
	margin-left: 5px;
	font-size: 11px !important;
}