/* START bootstrap over-rides */
h1 {
	font-weight: 200;
	line-height: 0.95;
    margin-top: .5rem;
	margin-bottom: 1.5rem ;
}
/* END bootstrap over-rides */

#sidebar {
	float: left;
}

.tooltip {
	margin-left: 5px;
	font-size: 11px;
}

tagline {
	font-family: inherit;
	font-weight: 300;
}

.links {
	margin-top: 4%;
	font-weight: 300;
}

.links a {
	color: inherit;
}

body {
	background-image: url(../images/slide.png);
	background-position: left top;
	background-size: cover;
}

/* larger devices */
@media screen and (max-width: 1125px) {
	body {};
}

/* medium devices */
@media screen and (max-width: 767px) {
	body {};
}

/* smaller devicese */
@media screen and (max-width: 479px) {
	body {};
}